<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
<script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="__STATIC__/Hui-admin/static/h-ui/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__STATIC__/Hui-admin/static/h-ui.admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__STATIC__/Hui-admin/font/font-awesome.min.css"/>
<link type="text/css" rel="stylesheet" href="__STATIC__/Hui-admin/static/h-ui.admin/css/icheck.css"/>
<!--[if IE 7]>
<link href="http://www.bootcss.com/p/font-awesome/assets/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>添加用户</title>
<style>
    #preview div.crop{
        position: relative;
    }
    .crop-style{
        border:1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        height: 220px;
        text-align: center
    }
    #preview div.crop img{
        width:auto;
        height: 220px;
    }
    #preview div.crop .preview-container img{
        width:auto;
        height:auto;
    }
    #preview div.crop::after{
        position: absolute;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        transform: rotate(-45deg);
        left: -7px;
        top: 50%;
        background-color: #fff;
        margin-top: -.15rem;
    }
    #preview-pane::after{
        position: absolute;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        transform: rotate(-45deg);
        left: -7px;
        top: 50%;
        background-color: #fff;
        margin-top: -.15rem;
    }
    #preview-pane{
        right: -175px;
        top: -6px;
        width:150px;
        height:150px;
        padding: 5px;
        border-radius: 5px;
        border:1px solid #ddd;
        display: none;
        position: absolute;
    }
    #preview-pane .preview-container{
        width:150px;
        height:150px;
        overflow: hidden;
    }
    #img{
        position: absolute;left: 332px; top: -192px;
    }
    #unhook{
        position: relative;
        left: 640px;
        display: none;
    }
</style>
</head>
<body>
    <div class="pd-20">
        <div class="Huiform codeView docs-example"><br>
            <form action="{:url('Admin/add')}" id="form-admin-add" class="form form-admin form-horizontal" method="post" enctype="multipart/form-data">
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">用户名：</label>
                    <div class="formControls col-xs-10 col-sm-3">
                        <input type="text" class="input-text" id="username" name="username" datatype="*2-16" nullmsg="用户名不能为空"  placeholder="请输入用户名">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">密码：</label>
                    <div class="formControls col-xs-10 col-sm-3">
                        <input type="password" class="input-text" id="password" name="password" datatype="*6-16" nullmsg="用户名不能为空"  placeholder="6-16位数字、字母">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">性别：</label><!--性别：0 未知，1男，2女-->
                    <div class="formControls col-xs-10 col-sm-3">
                        <div class="radio-box">
                            <input value="0" type="radio" id="sex-0" name="sex" checked >
                            <label for="sex-0" class="">未知</label>
                        </div>
                        <div class="radio-box">
                            <input value="1" type="radio" id="sex-1" name="sex" >
                            <label for="sex-1" class="">男</label>
                        </div>
                        <div class="radio-box">
                            <input value="2" type="radio" id="sex-2" name="sex" >
                            <label for="sex-2" class="">女</label>
                        </div>

                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">头像：</label>
                    <div class="formControls col-xs-10 col-sm-3">
                        <input type="file" id="avator" name="avator" onchange="preview(this);" style="position: absolute;width: ;z-index: 9;left: 8px;top:0;opacity: 0">
                        <!--图片参数-->
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />
                        <!--<a href="javascript:;" id="choice">选择图片</a>-->
                        <span class="btn-upload">
                            <a href="javascript:void(0);" id="" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
                            <input type="file" multiple name="file_0" class="input-file">
                        </span>
                        <div id="img">
                            <!--剪裁框-->
                            <div id="preview" style="position: relative;left: 0px; top: 0px;"></div>
                            <!--预览框-->
                            <div id="preview-pane" style="">
                                <div class="preview-container"><img src=""></div>
                            </div>
                        </div>
                        <a href="javascipt:;" class="btn btn-primary radius" id="unhook">OK</a>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">手机号：</label>
                    <div class="formControls col-xs-10 col-sm-5">
                        <input type="text" class="input-text" value="" placeholder="请输入手机号" id="phone" name="phone" datatype="m" errormsg="你输入的手机号格式不正确">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">邮箱：</label>
                    <div class="formControls col-xs-10 col-sm-5">
                        <input type="text" id="email" name="email" class="input-text" value="" placeholder="请输入邮箱" datatype="e" errormsg="请输入正确的邮箱" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">地址：</label>
                    <div class="formControls col-xs-10 col-sm-5">
                        <input type="text" class="input-text" value="" placeholder="" id="address" name="address">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2">个人独白：</label>
                    <div class="formControls col-xs-10 col-sm-5">
                        <textarea class="textarea" placeholder="说点什么..." rows="" cols="" name=""></textarea>
                    </div>
                </div>
                <div class="row cl">
                    <div class="formControls col-xs-10 col-sm-5 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="确定">
                    </div>
                </div>
            </form>
        </div>
    </div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/Hui-admin/static/h-ui/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="__STATIC__/Hui-admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/Hui-admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/Hui-admin/static/h-ui.admin/js/jquery.icheck.min.js"></script>

<script src="__STATIC__/layer/jquery.Jcrop.min.js"></script>
<link href="__STATIC__/layer/jquery.Jcrop.min.css" rel="stylesheet">
<script type="text/javascript">
    var jcrop_api,
        boundx,
        boundy,

        // 获取有关预览窗格的一些信息
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();

    //图片上传预览（被裁切的那张）
    function preview(file)  {

        var prevDiv = document.getElementById('preview');//最外层div（用来展示预览图）
        if (file.files && file.files[0])  {
            var reader = new FileReader();
            reader.onload = function(evt){
                //默认显示预览及其未知
                $('#preview').show();
                $('#preview-pane').css({top:'0px',right:'-175px'});
                $('#unhook').show();

                prevDiv.innerHTML = '<div class="crop crop-style" >' +
                    '<img id="image" style="heigth:100%" src="' + evt.target.result + '" /></div>';
                $pimg.attr('src',evt.target.result);
                $preview.css({'display':'block'});
                $('#image').Jcrop({
                    aspectRatio: 1,
                    onSelect: updateCoords,
                    onChange: updatePreview
                },function(){
                    // 使用API获取真实的图像大小
                    var bounds = this.getBounds();
                    boundx = bounds[0];
                    boundy = bounds[1];
                    // 将API存储在jcrop_api变量中
                    jcrop_api = this;

                    // 将预览移动到jcrop容器中以进行css定位
//                    $preview.appendTo(jcrop_api.ui.holder);
                });
            }
            reader.readAsDataURL(file.files[0]);
        }else{
            //IE兼容
            prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
        }
    };
    //点击OK确认后
    $('#unhook').click(function(e){
        //隐藏剪裁框,重新定位预览框
        $('#preview').hide();
        $('#preview-pane').css({top:'60px',right:'-175px'});
        $('#unhook').hide();
        // Update the interface to reflect un-attached state
        // $('#unhook,#enable,.requiresjcrop').hide();
        // $('#rehook').show();
        return false;
    });
    //用于获取裁剪区域的参数
    function updateCoords(c)
    {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
    };
    //实时预览剪裁区域图像
    function updatePreview(c)
    {
        if (parseInt(c.w) > 0)
        {
            var rx = xsize / c.w;
            var ry = ysize / c.h;
            $pimg.css({
                width: Math.round(rx * boundx) + 'px',
                height: Math.round(ry * boundy) + 'px',
                marginLeft: '-' + Math.round(rx * c.x) + 'px',
                marginTop: '-' + Math.round(ry * c.y) + 'px'
            });
        }
    };

    //单选按钮样式icheck
    $(function(){
        $('.radio-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        })
    });

</script>
<script>
    $(".form-admin").Validform();//表单验证
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>